<div class="page-header">
    <h2 class="text-center">Login as</h2>
</div>

<div class="col-md-6"><!-- panel-footer -->
    <div class="col-xs-6 text-left">
        <div class="admin">
            <!--<span class="glyphicon glyphicon-chevron-left">-->
            <a href="#!/batchList" class="btn btn-primary" title="Admin">Admin</a>
            <!--</span>-->
        </div>
    </div>

    <div class="col-xs-6 text-left">
        <div class="user">
            <a href="#!/selectStage" class="btn btn-primary" title="User">User</a>
            <!--<span class="glyphicon glyphicon-chevron-right">-->
            <!--</span>-->
        </div>
    </div>

</div>