<div class="page-header">
    <h3 class="text-center">Select Stage</h3>
</div>


<div class="row">


    <div class="col-md-6">
        <form class="center-block">

            <div class="form-group center-block">
                <div class="col-sm-9 col-sm-offset-3">
                    <a href="#!/addNewMeasurement/beforePresetting" class="btn btn-primary center-block" status="beforePresettingStage"
                       title="BeforePresetting">Before Presetting</a>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 ">
                    <a href="#!/addNewMeasurement/afterPresetting" class="btn btn-primary center-block" status="afterPresettingStage"
                       title="AfterPresetting">After Presetting</a>
                </div>
            </div>
            <div class="form-group center-block">
                <div class="col-sm-9 col-sm-offset-3 ">
                    <a href="#!/addNewMeasurement/afterDyeing" class="btn btn-primary center-block" status="afterDyeingStage"
                       title="AfterDyeing">After Dyeing</a>
                </div>
            </div>

        </form>
    </div>


</div>