<div class="page-header">
    <h4 class="text">Batch {{batchNo}} - {{customer}} - {{style}}</h4>
</div>
<div style="font-weight: bold" class="text-center">
    Style:{{styleName}}Batch:{{batchNumber}}Current Completed Stage:{{stage}}
</div>

<table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
        <th>Measurement</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <!--ng-click="setSelected();"-->
    <tr ng-repeat="measurement in measurements">
        <td>{{measurement.measurementName}}</td>
        <td>{{measurement.s1g1}}</td>
        <td>{{measurement.s1g2}}</td>
        <td>{{measurement.s1g3}}</td>
        <td>{{measurement.s1g4}}</td>
        <td>{{measurement.s1g5}}</td>
        <td>{{measurement.s2g1}}</td>
        <td>{{measurement.s2g2}}</td>
        <td>{{measurement.s2g3}}</td>
        <td>{{measurement.s2g4}}</td>
        <td>{{measurement.s2g5}}</td>
        <td>{{measurement.s3g1}}</td>
        <td>{{measurement.s3g2}}</td>
        <td>{{measurement.s3g3}}</td>
        <td>{{measurement.s3g4}}</td>
        <td>{{measurement.s3g5}}</td>
    </tr>
</table>