<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	
	<display-name>measurement-app</display-name>
	
	<!--&lt;!&ndash;-->
		<!--Load Spring Context -->
	 <!--&ndash;&gt;-->
	<!--<context-param>-->
		<!--<param-name>contextConfigLocation</param-name>-->
		<!--<param-value>-->
			<!--classpath:/context.xml-->
		<!--</param-value>-->
	<!--</context-param>-->
	<!--<listener>-->
		<!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
	<!--</listener>-->
	<!---->
	<!--&lt;!&ndash;-->
		<!--Map the REST Servlet to /rest/ -->
	 <!--&ndash;&gt;-->
	<!--<servlet>-->
		<!--<servlet-name>RestService</servlet-name>-->
		<!--<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>-->
		<!--<init-param>-->
			<!--<param-name>com.sun.jersey.config.property.packages</param-name>-->
			<!--<param-value>net.dontdrinkandroot.example.angularrestspringsecurity.rest</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>-->
			<!--<param-value>true</param-value>-->
		<!--</init-param>-->
		<!--<load-on-startup>1</load-on-startup>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>RestService</servlet-name>-->
		<!--<url-pattern>/rest/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!---->
	<!--&lt;!&ndash;-->
		<!--Apply Spring Security Filter to all Requests -->
	 <!--&ndash;&gt;-->
	<!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->


	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.mas.lineaintimo.measurementapp.services</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
    
</web-app>